html {
  font: Verdana;
}

body {
  background-color: rgb(41, 123, 72);
  text-align: center;
}

main {
  display: block;
  margin: auto;
  width: 80%;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: white;
}

#intro, #closing {
  outline-style: groove;
  outline-color: rgb(170, 79, 57);
  background-color: rgb(170, 138, 57)
}

.message {
  font-size: 20;
}

.headers {
  color: white;
  padding: 15px;
  text-decoration: underline;
  font-family: fantasy;
}

.headers:hover {
  color: rgb(89, 19, 40);
  font-style: italic;
}

ul {
  text-align: justify;
}

article {
  outline-style: groove;
  outline-color: rgb(170, 79, 57);
  background-color: rgb(39, 88, 107)
}

#articleText {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  margin: 10px 10px 10px 10px;
}

img {
  margin: 10px 10px 10px 10px;
}

#closing{
  display: block;
  margin: auto;
  width: 80%;
}

#legal {
  font-size: : 8;
}
