html {
  font: Verdana;
}

body {
  background-color: rgb(77, 87, 104);
  text-align: center;
}

main {
  display: block;
  margin: auto;
  width: 80%;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: white;
}

.message {
  font-size: 16;
  padding-top: 10
}

.headers {
  color: white;
  padding: 5px 0px 0px 0px;
  margin-bottom: 5px;
  text-decoration: underline;
  font-family: fantasy;
}

.headers:hover {
  color: rgb(89, 19, 40);
  font-style: italic;
}

ul {
  margin: 0;
  padding: 0;
  display: inline-table;
  width: 50%;
}

li {
  padding: 2;
  text-align: left;
}

#intro, #closing, article {
  outline-style: groove;
  outline-color: rgb(170, 79, 57);
  background-color: rgb(132, 159, 204);
  padding: 0px 10px 10px 10px
}

.articleText {
  font-family: verdana;
  font-size: 14px;
  text-align: center;
}

img {
  margin: 10px 10px 10px 10px;
  width: 80%
}

#closing{
  display: block;
  margin: auto;
  width: 80%;
}

#legal {
  font-size: : 8;
}
